.add-new-todo__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  transition: 0.7s ease-out;
  border-radius: 3;
}

.add-new-todo__input-form {
  width: 100%;
  transition: 2s ease-out;
}

.add-new-todo__input {
  background-color: #fff;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 100%;
  padding: 28px 40px 10px 28px;
  border-radius: 8px;
}

.add-new-todo__input::placeholder {
  color: #bedfff;
  transition: 0.5s ease-out;
}

.add-new-todo__input:focus::placeholder {
  color: transparent;
}

.add-new-todo__input:focus {
  outline: none;
}

.add-new-todo__add-button-container {
  position: absolute;
  padding-top: 12px;
  width: 24px;
  right: 15%;
  bottom: 2px;
}

.add-new-todo__add-button {
  filter: invert(76%) sepia(55%) saturate(3176%) hue-rotate(182deg)
    brightness(94%) contrast(93%);
  transition: 0.1s ease-out;
  width: 36px;
}
