input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  transition: 0.1s ease-out;
}

.checkbox {
  display: inline-block;
  height: 36px;
  width: 36px;
  background: #fff;
  border: 1px #bedfff solid;
  margin: 0 4px 8px;
  cursor: pointer;
}
