.greeting__container {
  width: 50vw;
  height: 20vh;
  background: #d9e4f5;
  margin-bottom: 6vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
}
