.greeting__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 20px 10px;
  border-bottom: solid 1px #02a8fb3f;
  margin-top: 50px;
}

.greeting__text {
  font-size: 28px;
  color: rgba(2, 69, 136, 0.704);
}

@media screen and (max-width: 575px) {
  .greeting__text {
    font-size: 20px;
  }
}

.greeting__plus-icon-container {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  padding: 0px;
  margin: 0;
  right: 2vw;
  bottom: -24px;
  transition: 0.7s ease-out;
  cursor: pointer;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.greeting__plus-icon {
  display: block;
  width: 48px;
}

.greeting__logout-container {
  position: absolute;
  right: -20px;
  top: -80px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.greeting__logout-icon {
  width: 22px;
  filter: invert(18%) sepia(82%) saturate(2014%) hue-rotate(194deg)
    brightness(92%) contrast(102%);
}

.greeting__logout-text {
  color: rgba(2, 69, 136, 0.704);
}

@media screen and (max-width: 575px) {
  .greeting__logout-container {
    top: -100%;
    right: 0;
  }
}
