.greeting__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px;
  border-bottom: solid 1px #02a8fb3f;
}

.greeting__plus-icon-container {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  padding: 0px;
  margin: 0;
  right: 2vw;
  bottom: -24px;
  transition: 0.7s ease-out;
}

.greeting__plus-icon {
  display: block;
  width: 48px;
}
