.main-area__container {
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 0 auto;
  padding: 56px;
  min-height: 300px;
  min-width: 600px;
  transition: 1s ease-out;
}
