.main-area__container {
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 0 auto;
  padding: 56px;
  min-height: 300px;
  flex: 0 1 800px;
  transition: 1s ease-out;
}

@media screen and (max-width: 575px) {
  .main-area__container {
    padding: 14px;
    border-radius: 0px;
    margin: 0 4px;
  }
}
