.todo__main-container {
  display: flex;
  border-bottom: solid 1px #bedfff;
  width: 100%;
  padding: 22px 28px;
}

@media screen and (max-width: 575px) {
  .todo__main-container {
    padding: 14px;
  }
}

.todo__data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.todo__container {
  transition: 0.7s ease-out;
}

.todo__text {
  transition: 0.7s ease-out;
  color: #024689;
}

@media screen and (max-width: 575px) {
  .todo__text {
    font-size: smaller;
  }
}

.todo__checkbox-container {
  display: flex;
  align-items: center;
  height: fit-content;
}

.todo__trash-icon-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todo__trash-icon {
  filter: invert(76%) sepia(55%) saturate(3176%) hue-rotate(182deg)
    brightness(94%) contrast(93%);
  width: 30px;
}

@media screen and (max-width: 575px) {
  .todo__trash-icon {
    width: 20px;
  }
}

.todo__buttons {
  display: flex;
  gap: 30px;
}
