.todo__main-container {
  display: flex;
  border-bottom: solid 1px #bedfff;
  width: 100%;
  padding: 28px 28px 8px;
}

.todo__data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  transition: 0.7s ease-out;
}

.todo__text {
  transition: 0.7s ease-out;
}
